@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "roboto", sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

header .borderLeft a {
  border-right: 1px solid #000000;
  padding-right: 1rem;
}

header .borderLeft a:last-child {
  border: none;
}

header .borderLeft .active {
  color: #3ea3dc;
}
header .borderLeft a {
  font-size: 1.3rem;
  font-weight: 300;
  transition: 0.3s linear;
}
header .borderLeft a:hover {
  color: #3ea3dc;
}

body main h2 {
  font-size: 5rem;
  color: #ffff;
  font-weight: 700;
}

footer input {
  background: none;
  border: 2px solid #ffffff;
}
