@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "roboto", sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

header .borderLeft a {
  border-right: 1px solid #000000;
  padding-right: 1rem;
}

header .borderLeft a:last-child {
  border: none;
}

header .borderLeft .active {
  color: #3ea3dc;
}
header .borderLeft a {
  font-size: 1.3rem;
  font-weight: 300;
  transition: 0.3s linear;
}
header .borderLeft a:hover {
  color: #3ea3dc;
}

header .tel-hov {
  transition: 0.3s linear;
}

header .tel-hov:hover {
  color: #3ea3dc;
}

footer input {
  background: none;
  border: 2px solid #ffffff;
}

.services-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ee2f41;
  mix-blend-mode: multiply;
}

.hpTel-hov {
  transition: 0.3s linear;
}

.hpTel-hov:hover {
  color: #3ea3dc;
}

.services-bg-hov:hover {
  background-color: #3ea3dc;
}

.services-bg-hov:hover img {
  filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(339deg)
    brightness(151%) contrast(102%);
}

.services-bg-hov:hover p {
  color: white;
}

.project-bg-hov {
  transition: 0.3s linear;
}

.project-bg-hov:hover {
  background-color: gray;
}

.project-bg-hov:hover a {
  color: #ffffff;
}

.project-card {
  transition: 0.3s linear;
}

.project-card:hover {
  transform: scale(1.03);
}

.services-box.active .services-bg-hov {
  background-color: #3ea3dc;
}

.services-box.active .services-bg-hov p {
  color: #ffffff;
}

.services-box.active .services-bg-hov img {
  filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(339deg)
    brightness(151%) contrast(102%);
}

.product-hov:hover {
  background-color: #3ea3dc;
  color: #ffffff;
}

/* main .services-bg-hov:hover img {
  background-color: ;
} */
